.cust-button{
    font: inherit;
    outline: none;
    background-color: white;
    height: 50px;
    width: 40%;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
.cust-button:hover{
    background-color: black;
    color: white;
    border: 1px solid white ;
}