.Header{
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
.LogoContainer{
    height: 100%;
    width: 100px;
}
.options_container{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.link{
    outline: none;
    text-decoration: none;
    color: inherit;
    font: inherit;
    font-size: 20px;
}
.options{
    height: 100%;
    /* width: 100%; */
    border: none;
}
.options:hover{
    border-bottom: 1px solid white;
}