.eachItemProduct{
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.ProductDescription{
    display: flex;
    justify-content: space-between;
}
.eachItemProduct:hover{
    opacity: 0.7;

}
  .eachItemProduct:hover .AddToCart{
    background: black;
    opacity: 1;
    transform: scale(1.1);
    visibility: visible;
    color: rgba(255, 255, 255,1);
}
.AddToCart{
    color: rgba(255, 255, 255,1);
    background: none;
    outline: none;
    width: 70%;
    height: 10%;
    font: inherit;
    font-weight: 700;
    position: absolute;
    bottom: 20%;
    left: 15%;
    border-radius: 0.5rem;
    visibility: hidden;
    transition: all 0.6s ease-in-out;
}